<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <title></title>
  <meta name="Generator" content="Cocoa HTML Writer">
  <meta name="CocoaVersion" content="2685.3">
  <style type="text/css">
    p.p1 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; -webkit-text-stroke: #000000}
    p.p2 {margin: 0.0px 0.0px 0.0px 0.0px; font: 12.0px Times; -webkit-text-stroke: #000000; min-height: 14.0px}
    span.s1 {font-kerning: none}
  </style>
</head>
<body>
<p class="p1"><span class="s1">body {</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>background: #0e0e0e;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>color: #eaeaea;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>font-family: Georgia, serif;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>line-height: 1.6;</span></p>
<p class="p1"><span class="s1">}</span></p>
<p class="p2"><span class="s1"></span><br></p>
<p class="p1"><span class="s1">main {</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>max-width: 700px;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>margin: 80px auto;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>padding: 0 20px;</span></p>
<p class="p1"><span class="s1">}</span></p>
<p class="p2"><span class="s1"></span><br></p>
<p class="p1"><span class="s1">h1 {</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>font-size: 48px;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>margin-bottom: 40px;</span></p>
<p class="p1"><span class="s1">}</span></p>
<p class="p2"><span class="s1"></span><br></p>
<p class="p1"><span class="s1">.essay {</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>margin-bottom: 40px;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>font-size: 18px;</span></p>
<p class="p1"><span class="s1">}</span></p>
<p class="p2"><span class="s1"></span><br></p>
<p class="p1"><span class="s1">img, video {</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>display: block;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>margin: 40px 0;</span></p>
<p class="p1"><span class="s1"><span class="Apple-converted-space">  </span>max-width: 100%;</span></p>
<p class="p1"><span class="s1">}</span></p>
</body>
</html>
